.animatedTeamCard60 {
  transition: transform 0.5s ease-in-out;
  transform: translateY(60px);
  transition-delay: 0.5s;
  margin-bottom: 60px;
}
.animatedTeamCard120 {
  transition: transform 0.5s ease-in-out;
  transform: translateY(120px);
  transition-delay: 0.5s;
  margin-bottom: 120px;
}

.card {
  opacity: 0; /* Начальное состояние */
  transform: scale(0.9);
  animation: fadeIn 0.5s ease-out forwards; /* Анимация */
}
@keyframes fadeIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}
